# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/news-pint/node_modules
client/news-pint/.pnp
.pnp.js

# testing
client/news-pint/coverage

# production
client/news-pint/build

# misc
.DS_Store
.env*
.vscode
__pycache__
package-lock.json


npm-debug.log*
yarn-debug.log*
yarn-error.log*
