[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
newsapi-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
